<p>movie-page works!</p>

<img src="{{movie.movieCoverLink}}" alt="movie cover for {{movie.title}}">



<!-- <div class="col-3">
    <img src="{{movie.movieCoverLink}}" alt="movie cover for {{movie.title}}">
    </div>
    <div class="col-6">
    <p>{{movie.title}}  ({{movie.releaseYear}}) &nbsp; <i class="fa fa-star">{{movie.rating | number:'1.1'}}</i></p>
    <p>{{movie.description}}</p>
    </div>
    <div class="col-3">
    <p style="float:left">{{movie.price | currency}}</p>
    <button (click)="addToCart(movie.title)">Add To Cart</button>
    </div> 
Movie{
    title: string,
    description: string,
    genre: string,
    releaseYear: number,
    price: number,
    rating: number,
    inStock: number,
    movieCoverLink: string,
    id: number
}
-->