<h4>User Information</h4>
<div class="row">
    <div class="col col-lg-2">
        <p>Id: </p>
    </div>
    <div class="col-md-auto">
        <p>{{customer.id}}</p>
    </div>
</div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Username: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.username}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Password: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.password}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Name: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.firstName}} {{customer.lastName}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Account Balance: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.accountBalance | currency}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Email: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.email}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Phone Number: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.phoneNumber}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-2">
            <p>Address: </p>
        </div>
        <div class="col-md-auto">
            <p>{{customer.address}}</p>
        </div>
    </div>
