<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header" style="  background-color: #0b5394; color: white;">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-1" [src]="customer.profilePicture" alt="user photo here">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload Profile Photo</button>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-3">
                <div class="card-header" style="  background-color: #0b5394; color: white;">Account Details</div>
                <div class="card-body">
                    <form #editProfile="ngForm" (submit)="onSubmit(editProfile)">
                         <!-- Form Group (username)-->
                         <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username</label>
                            <input class="form-control" name="inputUsername" type="text" placeholder="Username" [(ngModel)]="customer.username">
                        </div>
                         <!-- Form Group (password)-->
                         <div class="mb-3">
                            <label class="small mb-1" for="inputPassword">Password</label>
                            <input class="form-control" name="inputPassword" type="password" placeholder="Password" [(ngModel)]="customer.password">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First Name</label>
                                <input class="form-control" name="inputFirstName" type="text" placeholder="First Name" [(ngModel)]="customer.firstName">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last Name</label>
                                <input class="form-control" name="inputLastName" type="text" placeholder="Last Name" [(ngModel)]="customer.lastName">
                            </div>
                        </div>
                        <!-- Form Row        -->

                        <!-- Form Group (address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputAddress">Address</label>
                            <input class="form-control" name="inputAddress" type="text" placeholder="Address" [(ngModel)]="customer.address">
                        </div>

                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email Address</label>
                            <input class="form-control" name="inputEmailAddress" type="email" placeholder="name@example.com" [(ngModel)]="customer.email">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" name="inputPhone" type="tel" placeholder="555-123-4567" [(ngModel)]="customer.phoneNumber">
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="accountBalance">Account Balance</label>
                                <input class="form-control" name="accountBalance" type="number" name="accountBalance" placeholder="0.00" [(ngModel)]="customer.accountBalance">
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <input class="btn btn-primary" type="submit" name="Edit Profile">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>