*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-style{
    background-color: black;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: aliceblue;
}
.navbar{
    background-color:#0b5394;
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
}
form.search-box input[type=text] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

form.search-box button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
form.search-box button:hover {
    background: #0b7dda;
}

form.search-box::after {
    content: "";
    clear: both;
    display: table;
}