<nav class="navbar navbar-expand-sm navbar-light py-4" style="background-color: #0b5394">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="all-movies">
        <h1>JAMBA Logo Here</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-search"></i></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="all-movies"><i class="fa fa-home"></i></a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="my-profile"><i class="fa fa-user"></i></a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="cart"><i class="fa fa-shopping-bag"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login"><i class="fa fa-sign-in"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="checkout"><i class="fa fa-checkout-page"></i></a>
          </li>
        </ul> 
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <p>{{"1 + 9"}}</p>